.btn {
    height: $input-height;
    padding: 0 15px;
    font-size: 16px;
    border-radius: $border-radius;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    outline: none;
    cursor: pointer;
    &:disabled {
        opacity: .5;
        cursor: no-drop;
    }
}

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        background-color: $value;
        border-color: $value;
        color: white;
        &:not(:disabled):hover {
            background-color: darken($color: $value, $amount: 5%);
            border-color: darken($color: $value, $amount: 10%);
        }
        &:not(:disabled):active {
            box-shadow: inset 0 0 15px rgba($color: $color-darker, $alpha: 0.15);
        }
    }
    .btn-outline-#{$color} {
        border-color: $value;
        color: $value;
        &:not(:disabled):hover {
            background-color: $value;
            color: white;
        }
        &:not(:disabled):active {
            box-shadow: inset 0 0 15px rgba($color: $color-darker, $alpha: 0.15);
        }
    }
}