// form
.input, .select {
    height: $input-height;
    border: solid 1px rgba($color: $color-secondary, $alpha: .25);
    border-radius: $border-radius;
    padding: 0 10px;
    outline: none;
    &:not(:disabled):focus {
        border-color: $color-primary;
        box-shadow: 0 0 0 2px rgba($color: $color-primary, $alpha: 0.15);
    }
    &:disabled {
        opacity: .5;
        cursor: no-drop;
    }
    &[readonly] {
        background-color: $color-light;
        box-shadow: none!important;
    }
}
@each $color, $value in $theme-colors {
    .input-#{$color} {
        border-color: $value;
        &:not(:disabled):focus {
            border-color: $value;
            box-shadow: 0 0 0 2px rgba($color: $value, $alpha: 0.15);
        }
    }
}


.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cpath class='st0' d='M8,11.2L2.4,5.7l0.9-0.9L8,9.4l4.7-4.7l0.9,0.9L8,11.2z'/%3E%3C/svg%3E");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center right 10px;
    padding-right: 30px;
}

.check-label {
    display: inline-block;
}
.check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: $check-size;
    width: $check-size;
    border: solid 1px #d3d5d8;
    float: left;
    margin-right: .5rem;
    &:disabled {
        opacity: .5;
        cursor: no-drop;
    }
    &:checked {
        background-color: $color-primary;
        border-color: $color-primary;
    }
    &[type=checkbox] {
        border-radius: 5px;
    }
    &[type=radio] {
        border-radius: 50%;
    }
    &:checked[type=checkbox] {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M448 865.3L63.5 535.7l66.2-77.2 304.5 260.9 446.7-560.7 79.6 63.4z' fill='%23ffffff' /%3E%3C/svg%3E");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &:checked[type=radio] {
        background-color: white;
        border-color: $color-primary;
        border-width: 5px;
    }
}