* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: 16px;
}

a {
  color: #576B95;
  text-decoration: none;
}

.text-gray {
  color: #B2B2B2;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  margin-right: 10px;
}
.list-inline li:last-child {
  margin-right: 0;
}

.article {
  margin: 0 auto;
  max-width: 677px;
}
.article img {
  max-width: 100%;
}

.article_title {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 14px;
}
.article_media {
  background-color: #10075e;
}

.m-gif {
  margin: 10px;
  padding: 10px;
  border: solid 2px #969dfc;
  width: calc(100% - 20px);
}