/** sidebar **/
.search input {
    border: none!important;
}
.search input:focus {
    border: none!important;
    box-shadow: none!important;
}
.sidebar .name-logo {
    width: 2rem;
}
/* menu */
.sidebar-nav {
    text-transform: uppercase;
}
.sidebar-nav > ul > li > a {
    font-weight: bold;
}