/** variables **/

// colors
$color-primary:   #00744b;
$color-darker:    #231815;
$color-dark:      #343a40;
$color-secondary: #6c757d;
$color-light:     #f8f9fa;
$color-white:     #ffffff;
$color-success:   #159c77;
$color-danger:    #dc3545;
$color-warning:   #ffc05d;
$color-info:      #448af1;

$theme-colors: (
  "primary":    $color-primary,
  "secondary":  $color-secondary,
  "info":       $color-info,
  "warning":    $color-warning,
  "danger":     $color-danger,
  "success":    $color-success,
  "light":      $color-light,
  "dark":       $color-dark
) !default;


$color-body:    $color-darker;
$bg-body:       $color-light;

// utilities
$border-radius: 5px;
// form
$input-height:  35px;
// checks
$check-size:    16px;

