
@mixin square($size) {
    width: $size;
    height: $size;
}

// List
@mixin list-unstyled {
    padding-left: 0;
    list-style: none;
}

@mixin list-inline {
    @include list-unstyled;
    > li {
        display: inline-block;
    }
}
