<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>博思创成，为家长学生解决学习困难，让学生学习变得轻松快乐。</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="app">
		<header class="header p-sticky">
      <div class="container">
        <nav class="navbar d-flex align-items-center">
          <a class="navbar-brand" href="#">博思创成</a>
          <ul class="navbar-nav">
            <li :class="['nav-item', {'dropdown':item.dropdown}]" v-for="item in Navigator" @mouseenter="item.show = true" @mouseleave="item.show = false">
              <a :class="['nav-link', {'dropdown-toggle':item.dropdown}, {'active':item.active}]" :href="item.link" v-cloak>{{item.text}}</a>
              <transition name="slide-fade">
                <div class="dropdown-menu rounded shadow" v-if="item.show && item.dropdown">
                  <ul class="list-unstyled">
                    <li class="" v-for="submenu in item.dropdown">
                      <a :href="submenu.link" v-cloak>{{submenu.name}}</a>
                    </li>
                  </ul>
                </div>
              </transition>
            </li>
          </ul>
        </nav>
      </div>
		</header>

    <div class="swiper swiper-imax">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="item in SwiperImax">
          <div class="swiper-imax-media">
            <img class="w-100" :src="['images/swiper/'+ item.media]" alt="">
          </div>
          <div class="swiper-imax-inner">
            <div class="container">
              <div class="py-5">
                <h3 v-cloak>{{item.title}}</h3>
                <p class="h5" v-cloak>{{item.slogan}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination text-white"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <section class="section">
      <div class="container">
        <div class="section-heading py-5">
          <h2 class="section-title text-center">博思动态</h2>
        </div>
        <div class="section-body">
          <div class="news-grid news-grid-5">
            <div class="news-grid-item">
              <figure class="news-figure ratio-16-9">
                <img class="w-100" src="images/news/news-figure-0.jpg">
                <figcaption class="p-3">博采众长，集思广益，追求卓越，创造成功。</figcaption>
              </figure>
            </div>
            <div class="news-grid-item" v-for="item in NewsBrief">
              <div class="card bg-white h-100 p-3 news-item">
                <p><a href="#">博思研究院为回馈社会并与北大专家共同研发的《睿话英语》即将面世。</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="section-footer py-5 text-center">
          <a class="readmore" href="#">查看更多</a>
        </div>
      </div>
    </section>

    <section class="section bg-white py-5">
      <div class="container">
        <div class="section-body d-flex">
          <div class="section-heading pr-5 d-flex flex-column justify-content-between">
            <h2 class="text-vertical-lr">国学漫谈</h2>
            <a class="text-vertical-lr readmore readmore-vertical" href="#">查看更多</a>
          </div>
          <div class="row d-flex flex-grow-1">
            <div class="col col-3" v-for="item in Placard">
              <div class="placard ratio-9-16">
                <img class="placard-media" :src="['images/placard/' + item.media]" :alt="item.title">
                <div class="placard-inner p-3 d-flex justify-content-between h-100">
                  <div><a class="h4 text-vertical-lr text-white" href="#" v-cloak>{{item.title}}</a></div>
                  <div class="d-flex align-items-end"><p class="text-vertical-lr">阅读全文</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="section-heading py-5">
          <h2 class="section-title text-center">教学实践</h2>
        </div>
        <div class="section-body">
          <div class="row d-flex">
            <div class="col col-4" v-for="item in Teaching">
              <div class="card bg-white p-3">
                <div class="d-flex">
                  <div class="shrink-0 mr-3">
                    <ul class="list-unstyled text-center">
                      <li class="h1 text-gray">17</li>
                      <li class="text-gray"><small>May</small></li>
                      <li class="mt-2"><button class="btn btn-pill border-primary">详情</button></li>
                    </ul>
                  </div>
                  <div class="">
                    <h5 class="mb-2"><a href="#">双语学贯中西，德能行走天下</a></h5>
                    <img class="w-100" src="" alt="">
                    <p class="text-gray">这是成都市双语实验学校开展传统文化暨语文教学融合创新活动的目标愿景。</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-footer py-5 text-center">
          <a class="readmore" href="#">查看更多</a>
        </div>
      </div>
    </section>

    <section class="section bg-white">
      <div class="container">
        <div class="section-body pb-5">
          <div class="row d-flex">
            <div class="col col-7">
              <div class="section-heading pt-5 pb-3 d-flex align-items-center">
                <h2 class="section-title mr-3">热点关注</h2>
                <a class="text-primary" href="#">查看更多</a>
              </div>
              <div class="card">
                <ul class="list-unstyled">
                  <li class="border-bottom py-2 d-flex" v-for="item in Hot">
                    <div class="card bg-light text-gray px-3 py-2 mr-3" v-cloak>{{item.category}}</div>
                    <div class="card">
                      <h6><a href="#" v-cloak>{{item.title}}</a></h6>
                      <p class="text-gray">2023-05-17 19:30:01</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col col-5">
              <div class="section-heading pt-5 pb-3 d-flex align-items-center">
                <h2 class="section-title mr-3">英语荟萃</h2>
                <a class="text-primary" href="#">查看更多</a>
              </div>
              <div class="card">
                <ul class="list-unstyled">
                  <li class="border-bottom py-2" v-for="item in English">
                    <a class="h6" href="#" v-cloak>{{item.title}}</a>
                    <p class="text-gray">2023-05-17 19:30:01</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="section-heading py-5">
          <h2 class="section-title text-center">学习感言</h2>
        </div>
        <div class="section-body pb-5">
          <div class="row d-flex justify-content-center">
            <div class="col col-8">
              <blockquote class="blockquote text-center">
                <p class="text-center">今年六月，我买了一套《语文专业突破系统》，还特意带着孩子找到课题组专家交流了一番，孩子受到鼓励，信心大增。回到家我认真地陪孩子一起学习，先从学字开始，再背唐诗。两个月过去了，孩子的语文成绩从班级倒数直接跳到前五名，关键是孩子尝到了甜头儿，学习语文的兴趣提高了，也喜欢看书了。</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <figure class="p-3 text-center">
          <img class="size-32 mb-3" src="images/logo.svg" alt="">
          <figcaption>
            <ul class="list-inline">
              <li class="list-inline-item px-2 text-white" v-for="item in FootInfo" v-html="item"></li>
            </ul>
          </figcaption>
        </figure>
      </div>
    </footer>
	</div>

	<!-- <script src="js/resize.js"></script> -->
  <script src="js/vue.min.js"></script>
  <script src="libs/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: "#app",
      data: {
        show: false,
        hover: false,
        Navigator: [],
        SwiperImax: [
          {
            media: "swiper-slide-img-0.png",
            title: "这项目我投了！",
            slogan: "我们要尊重梦想。把钱花在刀把儿上，刀背儿上～"
          },
          {
            media: "swiper-slide-img-1.png",
            title: "本来打算以普通人的身份跟你们相处，",
            slogan: "可换来的却是疏远。不装了，我是亿万富翁，我摊牌了。"
          }
        ],
        NewsBrief: [
          {},{},{},{}
        ],
        Teaching: [
          {},{},{}
        ],
        Hot: [
          {
            category: "高考",
            title: "2023高考再次证明: 让孩子“多阅读”有多么重要"
          },
          {
            category: "高考",
            title: "高考改革方案确定“1+5” 新方案或只考语文数学外语三门"
          },
          {
            category: "教材",
            title: "统编教材编写专家独家回应：语文历史教材为什么这样改"
          }
        ],
        English: [
          {
            title: "英语语句进阶提升",
          },
          {
            title: "古诗词用英文如何表达？",
          },
          {
            title: "英语经典谚语—中英互译",
          }
        ],
        Placard: [
          {
            media: "placard-img-1.png",
            title: "传承诗词文化 坚定文化自信"
          },
          {
            media: "placard-img-2.png",
            title: "浅谈《论语》中的道德思想"
          },
          {
            media: "placard-img-3.png",
            title: "北京大学学生应读选读书目"
          },
          {
            media: "placard-img-4.png",
            title: "让国学经典走进中小学课堂"
          },
        ],
        FootInfo: [
          "CopyRight &copy; 北京博思创成技术发展有限公司 版权所有",
          "京ICP备09039690号",
          "京公网安备 11010802023521号"
        ]
      },
      created() {
				fetch ('./data/header.json')
				.then (Response => Response.json())
				.then (json => {
          json.Navigator.forEach(item=>{
            item.show = false
          })
					this.Navigator = json.Navigator
				})
			},
      methods: {}
    });
    var swiper = new Swiper(".swiper-imax", {
			loop: true,
      // autoplay: true,
      parallax: true,
      pagination: {
        el: '.swiper-pagination',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
		});
  </script>
</body>
</html>
