
@font-face {
  font-family: 'iconfont';  /* project id 1249262 */
  src: url('//at.alicdn.com/t/font_1249262_4x1wfp6ur1b.eot');
  src: url('//at.alicdn.com/t/font_1249262_4x1wfp6ur1b.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1249262_4x1wfp6ur1b.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1249262_4x1wfp6ur1b.woff') format('woff'),
  url('//at.alicdn.com/t/font_1249262_4x1wfp6ur1b.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1249262_4x1wfp6ur1b.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}