html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'iconfont';
  /* project id 1679095 */
  src: url("//at.alicdn.com/t/font_1679095_tmvf4kjux6i.eot");
  src: url("//at.alicdn.com/t/font_1679095_tmvf4kjux6i.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1679095_tmvf4kjux6i.woff2") format("woff2"), url("//at.alicdn.com/t/font_1679095_tmvf4kjux6i.woff") format("woff"), url("//at.alicdn.com/t/font_1679095_tmvf4kjux6i.ttf") format("truetype"), url("//at.alicdn.com/t/font_1679095_tmvf4kjux6i.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .iconfont.icon-lg {
    font-size: 1.5rem; }
  .iconfont.icon-xlg {
    font-size: 2rem; }
  .iconfont.icon-xxlg {
    font-size: 3rem; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 1rem; }

body {
  overflow-x: hidden;
  line-height: 1.5;
  font-size: 87.5%; }
  body::-webkit-scrollbar {
    display: none; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0 0 .5rem; }

p {
  margin: 0 0 .25rem; }

hr {
  margin: 1rem 0;
  border: none;
  height: 1px;
  background-color: #e9ecef; }

.bg-light {
  background-color: #efeff4; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.bg-primary {
  background-color: #2e87e6; }

.bg-secondary {
  background-color: #6c757d; }

.bg-success {
  background-color: #8bc98a; }

.bg-info {
  background-color: #8776de; }

.bg-warning {
  background-color: #ffd24d; }

.bg-danger {
  background-color: #ec655a; }

.bg-light {
  background-color: #f8f9fa; }

.bg-dark {
  background-color: #343a40; }

.text-primary {
  color: #2e87e6 !important; }

a.text-primary {
  color: #2e87e6; }

.text-secondary {
  color: #6c757d !important; }

a.text-secondary {
  color: #6c757d; }

.text-success {
  color: #8bc98a !important; }

a.text-success {
  color: #8bc98a; }

.text-info {
  color: #8776de !important; }

a.text-info {
  color: #8776de; }

.text-warning {
  color: #ffd24d !important; }

a.text-warning {
  color: #ffd24d; }

.text-danger {
  color: #ec655a !important; }

a.text-danger {
  color: #ec655a; }

.text-light {
  color: #f8f9fa !important; }

a.text-light {
  color: #f8f9fa; }

.text-dark {
  color: #343a40 !important; }

a.text-dark {
  color: #343a40; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.font-w-bold {
  font-weight: bold; }

.font-w-normal {
  font-weight: normal; }

.font-w-lighter {
  font-weight: lighter; }

.rounded {
  border-radius: 0.25rem !important; }

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important; }

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important; }

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important; }

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important; }

.rounded-circle {
  border-radius: 50% !important; }

.rounded-pill {
  border-radius: 50rem !important; }

.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  margin: -.5rem; }
  .row .col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: .5rem; }

.list {
  list-style: none;
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0; }

.list-inline {
  list-style: none;
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  position: relative;
  margin: 0 -.5rem; }
  .list-inline .list-inline-item {
    display: inline-block;
    padding: 0 .5rem; }

.card {
  position: relative;
  background-color: white; }
  .card .card-header,
  .card .card-body {
    padding: 1rem; }
  .card .card-header {
    border-bottom: solid 1px #e9ecef; }
  .card .card-body {
    position: relative; }

.table {
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
  margin-bottom: .5rem; }
  .table th,
  .table td {
    padding: .25rem .5rem; }

.table-border,
.table-border th,
.table-border td {
  border: solid 1px #e9ecef; }

.media {
  display: flex;
  align-items: center; }

.media-body {
  flex: 1;
  padding-left: 1rem; }

.banner-invite {
  position: relative;
  background: url(images/background-invite.png) no-repeat top;
  background-size: 100%;
  padding-top: 20%;
  text-align: center; }
  .banner-invite img {
    width: 55%; }

.banner-income {
  position: relative;
  text-align: center;
  background: url(images/background-income.png) no-repeat center;
  background-size: 100%;
  padding: 1rem;
  margin-bottom: .5rem;
  color: white; }

.banner-vip img {
  max-width: 100%;
  width: 100%; }

.deer-level {
  position: relative;
  background-color: white;
  line-height: 1.15;
  margin-bottom: .5rem; }

.deer-level-item {
  border-bottom: solid 1px #e9ecef;
  position: relative;
  padding: 1rem;
  padding-left: 72px; }
  .deer-level-item::before {
    content: attr(data-level);
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 36px;
    font-size: 20px;
    text-align: center;
    color: white;
    position: absolute;
    top: 20px;
    left: 1rem; }
  .deer-level-item:nth-child(1)::before {
    background-color: #6c757d; }
  .deer-level-item:nth-child(2)::before {
    background-color: #8bc98a; }
  .deer-level-item:nth-child(3)::before {
    background-color: #2e87e6; }
  .deer-level-item:nth-child(4)::before {
    background-color: #8776de; }
  .deer-level-item:nth-child(5)::before {
    background-color: #ec655a; }
  .deer-level-item h3 {
    margin: 0; }
  .deer-level-item p {
    margin: .5rem 0;
    color: #adb5bd; }
  .deer-level-item .list-inline {
    color: #6c757d; }
  .deer-level-item .deer-level-item-option {
    position: relative;
    display: block;
    border-top: solid 1px #e9ecef;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-right: -1rem;
    text-decoration: none;
    color: #343a40; }
    .deer-level-item .deer-level-item-option::after {
      content: '\e670';
      font-family: 'iconfont';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      color: #adb5bd; }

.outer {
  padding: .5rem 0 0; }

.list-help-center {
  background-color: white;
  margin-bottom: .5rem; }
  .list-help-center > li {
    position: relative; }
    .list-help-center > li > a {
      position: relative;
      display: block;
      width: 100%;
      padding: .75rem 0 .75rem 3rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #343a40;
      text-decoration: none; }
      .list-help-center > li > a > .iconfont {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem; }
      .list-help-center > li > a::after {
        content: '\e670';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'iconfont';
        right: 1rem;
        color: #ced4da; }
    .list-help-center > li:not(:first-child)::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 3rem;
      height: 1px;
      background-color: #e9ecef; }
  .list-help-center.about > li:not(:first-child)::after {
    left: 4rem; }
  .list-help-center.about > li > a {
    padding-left: 4rem; }
  .list-help-center.no-icon > li > a {
    padding-left: 1rem; }
  .list-help-center.no-icon > li::after {
    left: 0; }

.list-phone-model li {
  padding: .5rem 0; }

.path-group > .path-group-item {
  display: inline-block; }
  .path-group > .path-group-item:not(:last-child)::after {
    content: ' -';
    color: #868e96; }

.post {
  padding: 0; }
  .post .post-header {
    padding: 1rem;
    border-bottom: solid 1px #e9ecef; }
    .post .post-header .post-title {
      margin: 0; }
  .post .post-body {
    padding: 1rem; }
    .post .post-body img {
      max-width: 100%; }

.product .product-header {
  margin-bottom: 1rem; }
.product .product-body {
  margin-bottom: 1rem; }
.product .product-footer {
  padding: 1rem 0; }

.btn {
  text-align: center;
  background-color: #2e87e6;
  color: white;
  padding: .75rem 1rem;
  border: none;
  outline: none; }
  .btn.btn-black {
    display: block;
    width: 100%;
    font-size: large; }

.badge {
  padding: 0 .5rem;
  border-radius: 2rem;
  line-height: 1;
  white-space: nowrap;
  background-color: #868e96; }

.badge-vivo {
  background-color: #415fff;
  color: white; }

.badge-oppo {
  background-color: #05B570;
  color: white; }

.badge-xiaomi {
  background-color: #ff6700;
  color: white; }

.badge-meizu {
  background-color: #00c3f5;
  color: white; }

.badge-huawei {
  background-color: #cb242b;
  color: white; }

.badge-lenovo {
  background-color: #e12726;
  color: white; }

.badge-samsung {
  background-color: #172e9d;
  color: white; }

.badge-le {
  background-color: #2f84c5;
  color: white; }

.badge-thz360 {
  background-color: #23ac38;
  color: white; }

.badge-smartisan {
  background-color: #d4091d;
  color: white; }

/*# sourceMappingURL=style.css.map */
