//
//
.news-grid {
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: $spacer;
  .news-grid-item {
    position: relative;
    overflow: hidden;
  }
}
.news-grid-5 {
  grid-template-columns: repeat(4, 1fr);
  .news-grid-item {
    &:nth-of-type(1) {
      grid-column-start: span 2;
      grid-row-start: span 2;
    }
  }
}
.news-figure {
  position: relative;
  overflow: hidden;
  figcaption {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
    color: $color-white;
    background-color: rgba($color-dark, .5);
  }
}
.news-item {
  position: relative;
  border-bottom: $color-primary solid $border-width*4;
}