//
//
.swiper-imax {
  &, .swiper-slide {
    position: relative;
  }
  .swiper-slide {
    height: $swiper-imax-height;
    overflow: hidden;
  }
}

.swiper-imax-media,
.swiper-imax-inner {
  position: absolute;
  right: 0;
  left: 0;
}
.swiper-imax-media {
  z-index: 0;
  top: 0;
  bottom: 0;
}
.swiper-imax-inner {
  z-index: 1;
  bottom: 0;
  color: $color-white;
  background: linear-gradient(0, rgba($color-dark, .75), transparent);
}

.swiper {
  --swiper-theme-color: #AA1F24;
  --swiper-navigation-color: rgba(0, 0, 0, .5);  // 单独设置按钮颜色
  --swiper-navigation-size: 3.2rem;                // 设置按钮大小
  --swiper-pagination-color: #FFFFFF;/* 两种都可以 */
}
