//
$color-primary: rgb(117, 20, 12);
$color-olden:   rgb(246, 237, 225);
$color-coffee:  rgb(118, 89, 84);
$border-witch:  0.25mm;

.f-courier-new {
  font-family: 'Courier New', Courier, monospace;
}

.f-s-12 {
  font-size: 12pt;
}

.text-printed {
  color: black;
}


.invoice,
.invoice * {
  box-sizing: border-box;
}

.invoice {
  width: 210mm;
  min-height: 140mm;
  padding: 4.5mm 4.5mm 7.5mm;
  font-size: 9pt;
  font-family: "Kaiti SC", "KaiTi", '楷体','楷体-简', serif;
  color: $color-primary;
  .invoice-header {
    padding-bottom: 4mm;
    display: flex;
    justify-content: space-between;
  }
  .invoice-body {
    width: 201mm;
  }
}

.invoice-header-quickmark {
  width: 57mm;
  padding: 1.5mm 2.5mm 0;
}
.invoice-header-quickmark .qr-code,
.invoice-header-quickmark .mark {
  height: 20mm;
}
.invoice-header-quickmark .qr-code {
  position: relative;
  width: 20mm;
  border: solid 0.35mm $color-primary;
}
.invoice-header-quickmark .qr-code::before {
  content: '动态二维码';
  position: absolute;
}
.invoice-header-quickmark .qr-code > img {
  height: 100%;
  width: 100%;
}
.invoice-header-quickmark .mark {
  width: 28mm;
}

.invoice-header-title .title {
  font-size: 20pt;
}

.bill {
  position: relative;
  border: solid $border-witch $color-primary;
  &::before,
  &::after {
    content: '';
    position: absolute;
    right: -0.79mm;
    bottom: 0;
    width: 0.54mm;
  }
  &::before {
    top: 0;
    background-color: $color-olden;
  }
  &::after {
    top: 50%;
    background-color: $color-coffee;
  }
  .bill-header {
    height: 22mm;
  }
  .bill-footer {
    height: 16mm;
  }
  .bill-body {
    position: relative;
    min-height: 44mm;
  }
  .bill-total {
    height: 8mm;
    line-height: 8mm;
  }
}

.bill-row {
  display: flex;
  &:not(:last-child) {
    border-bottom: solid $border-witch $color-primary;
  }
}


.bill-col:not(:last-child) {
  border-right: solid $border-witch $color-primary;
}
.bill-col-text-vertical {
  width: 6mm;
  line-height: 6mm;
  text-align: center;
  writing-mode: vertical-rl;
}

.item-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  th {
    font-weight: normal;
  }
}
.item-total {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}