//
//
.btn,
.btn-icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	cursor: pointer;
	background-color: transparent;
	border: $border-width solid transparent;
	border-radius: $border-radius;
	font-size: $base-font-size;
	transition: all .3s ease-in-out 0s;
}
.btn {
	height: $btn-height;
	padding: 0 $spacer/2;
}

.btn {
	@each $color, $value in $theme-colors {
		&.bg-#{$color} {
			&:hover {
				background-color: lighten($value, 10%) !important;
			}
			&:active {
				background-color: darken($value, 5%) !important;
			}
		}
		&.border-#{$color} {
			border-color: $value;
			color: $value;
			&:hover {
				background-color: rgba($value, .125) !important;
			}
			&:active {
				background-color: rgba($value, .25) !important;
			}
		}
	}
	&:disabled {
		opacity: .5;
		pointer-events: none;
	}
}

.btn-pill {
	border-radius: $btn-height/2;
}

.btn-icon {
	border: none;
	&.btn-icon-light {
		background-color: $color-light;
		color: $color-primary;
		&:hover {
			background-color: $color-success;
			color: $color-white;
		}
	}
}
