//
//
.check {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	height: $check-size;
	width: $check-size;
	border: $border-width solid $border-color;
	vertical-align: middle;
	margin-top: -4px;
	&:disabled {
		opacity: .5;
		cursor: no-drop;
	}
	&:checked {
		background-color: $color-primary;
		border-color: $color-primary;
	}
	&[type=checkbox] {
		border-radius: $border-radius;
	}
	&[type=radio] {
		border-radius: 50%;
	}
	&:checked[type=checkbox] {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M448 865.3L63.5 535.7l66.2-77.2 304.5 260.9 446.7-560.7 79.6 63.4z' fill='%23ffffff' /%3E%3C/svg%3E");
		background-size: 1.2rem;
		background-repeat: no-repeat;
		background-position: center;
	}
	&:checked[type=radio] {
		background-color: white;
		border-color: $color-primary;
		border-width: $border-width*5;
	}
}
