//
// Flex
//
// Direction
$flex-direction: (
	"row": row,
	"column": column
);
@each $name,$value in $flex-direction {
	.flex-#{$name} {
		flex-direction: $value;
	}
}

$flex-wrap: (
	"wrap": wrap,
	"nowrap": nowrap
);
@each $name,$value in $flex-wrap {
	.flex-#{$name} {
		flex-wrap: $value;
	}
}

// Justify content
$justify-content: (
	"start": flex-start,
	"end": flex-end,
	"center": center,
	"between": space-between,
	"around": space-around,
	"evenly": space-evenly
);
@each $name,$value in $justify-content {
	.justify-content-#{$name} {
		justify-content: $value;
	}
}

// Align items
$align-items: (
	"start": flex-start,
	"end": flex-end,
	"center": center,
	"baseline": baseline,
	"stretch": stretch
);
@each $name,$value in $align-items {
	.align-items-#{$name}{
		align-items: $value;
	}
}

// Align content
$align-content: (
	"start": flex-start,
	"end": flex-end,
	"center": center,
	"between": space-between,
	"around": space-around,
	"stretch": stretch
);
@each $name,$value in $align-content {
	.align-content-#{$name} {
		align-content: $value;
	}
}

// Align self
$align-self: (
	"auto": auto,
	"start": flex-start,
	"end": flex-end,
	"center": center,
	"baseline": baseline,
	"stretch": stretch
);
@each $name,$value in $align-self {
	.align-self-#{$name} {
		align-self: $value;
	}
}

// Flex items
@each $item in (0, 1) {
	.shrink-#{$item} {
	flex-shrink: $item!important;
	}
	.order-#{$item} {
		order: $item!important;
	}
	.flex-grow-#{$item} {
		flex-grow: $item!important;
	}
}
