//
//
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 114rem;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@import 'sidebar';

// 16:9
.ratio-16-9 {
  aspect-ratio: 16 / 9;
  width: 100%;
}
.ratio-9-16 {
  aspect-ratio: 9 / 16;
  width: 100%;
}

.text-vertical-lr {
  writing-mode: tb-lr;
  writing-mode: vertical-lr;
}



