//
//

.list-unstyled, .list-inline {
	&, li {
		position: relative;
	}
}
.list-unstyled, .list-inline {
	@include list-unstyled;
}

.list-unstyled {
	li > ul {
		padding-left: 2em;
	}
}

.list-inline {
	position: relative;
	margin: -.5rem;
	.list-inline-item {
		display: inline-block;
		padding: .5rem;
	}
}
