// Spacing
//
@mixin margin-x($arg){
	margin-right: $arg;
	margin-left: $arg;
}
@mixin margin-y($arg){
	margin-top: $arg;
	margin-bottom: $arg;
}
@mixin padding-x($arg){
	padding-right: $arg;
	padding-left: $arg;
}
@mixin padding-y($arg){
	padding-top: $arg;
	padding-bottom: $arg;
}

@mixin list-unstyled {
	list-style: none;
	padding-left: 0;
}

@mixin square($size) {
	height: $size;
	width: $size;
}

@mixin transition() {
	transition: all .3s ease-in-out 0s;
}

@mixin form-validation($color, $bg-img) {
	.form-input {
		border-color: $color;
		background-image: url($bg-img);
		background-repeat: no-repeat;
		background-position: right $spacer/3 center;
		background-size: 1.6rem;
		&:focus {
			box-shadow: 0 0 0 $border-width*2 rgba($color, 0.3);
		}
	}
	.valid-feedback {
		color: $color;
	}
}
