// navbar
//

.navbar {
	position: relative;
}
.navbar-brand {
	position: relative;
	font-size: $h2-font-size;
	padding-left: 4rem;
	margin-right: 6rem;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		@include square(3.2rem);
		background-size: cover;
		background-image: url(../images/logo.svg);
	}
}

.navbar-nav {
	@include list-unstyled;
	.nav-item {
		display: inline-block;
	}
	.nav-link {
		position: relative;
		padding: $spacer/3 $spacer/2;
		line-height: $navbar-height;
		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			right: $spacer/2;
			left: $spacer/2;
			height: 0;
			background-color: $color-primary;
			opacity: 0;
			@include transition();
		}
		&.active {
			color: $color-primary;
			&::before {
				height: .3rem;
				opacity: 1;
			}
		}
		&.dropdown-toggle {
			padding-right: $spacer;
			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				right: $spacer/4;
				top: 50%;
				margin-top: -$spacer/3;
				@include square(1.6rem);
				background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' fill='dark'/></svg>");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 75%;
				@include transition();
			}
		}
	}
	.nav-item:hover {
		.nav-link {
			&::before {
				height: .1rem;
				opacity: .5;
			}
		}
		.dropdown-toggle {
			&::after {
				transform: rotate(180deg);
			}
		}
	}
}

.nav {
	@include list-unstyled;
	.nav-item {
		display: inline-block;
	}
	.nav-link {
		position: relative;
		padding: $spacer/3 $spacer/2;
	}
}

.dropdown-menu {
	position: absolute;
	z-index: 9;
	top: $navbar-height;
	background-color: $color-white;
	padding: $spacer/3 $spacer;
	box-shadow: 0 .3rem 3rem rgba($color-dark, .25);
}

//
// Nav Tabs
// Nav Pills
$pills-height: 3rem;

.nav-pills {
	&, .nav-item {
		height: $pills-height;
		border-radius: $pills-height / 2;
	}
	background-color: rgba($color: $color-success, $alpha: .2);
	line-height: $pills-height;
		.nav-item {
			padding: 0 $spacer/2;
			cursor: pointer;
			&.active {
			background-color: $color-success;
			color: $color-white;
				cursor: default;
		}
		}
}

