//
// tables
.table {
  width: 100%;
  border-collapse: collapse;
  color: $color-dark;
  th, td {
    padding: $spacer / 3 $spacer / 2;
  }
  a {
      text-decoration: underline;
      color: $color-primary;
  }
  th {
      text-align: left;
      border-bottom: $border-width * 2 $border-color solid;
  }
  td {
      border-bottom: $border-width $border-color solid;
  }
  &.table-bordered {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    th, td:not(:first-child) {
      border-left: $border-width solid $border-color;
    }
  }
}

.table {
  &.table-striped {
    thead tr {
      background-color: $color-light;
    }
    tbody tr {
      &:nth-child(odd) {  // 奇数行
        background-color: $color-white;
      }
      &:nth-child(even) { // 偶数行
        background-color: $color-light;
      }
    }
  }
  &.table-hover {
    tbody tr:hover {
      background-color: rgba($color-primary, .1);
    }
  }
  &.table-nowrap {
    th, td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

@each $color, $value in $theme-colors {
  .table {
    &.border-#{$color} {
      th, td {
        border-color: $value !important;
      }
    }
  }
}

// .border-primary

.table-wrap {
  position: relative;
  overflow-x: auto;
}