//
// Colors
@each $color, $value in $theme-colors {
	.text-#{$color} {
		color: $value !important;
	}
	.bg-#{$color} {
		background-color: $value !important;
	}
	.bg-#{$color}-subtle {
		background-color: rgba($value, .1) !important;
	}
	.border-#{$color} {
		border-color: $value !important;
	}
}

@each $item, $value in $sizes {
	.h-#{$item} {
		height: $value;
	}
	.w-#{$item} {
		width: $value;
	}
}

// Text
// links
a {
	text-decoration: none;
	color: $color-links;
		&:hover {
			color: lighten($color-links-hover, 10%);
		}
}
@each $item in (lighter, normal, bold) {
	.font-w-#{$item} {
		font-weight: $item;
	}
}
// text-align
@each $item in (center, right, left) {
	.text-#{$item} {
		text-align: $item!important;
	}
}
// H1 ~ H6
@each $sizes, $value in $font-sizes {
	h#{$sizes},
		.h#{$sizes} {
		font-size: $value;
	}
}

//
// Sizing
@each $icons, $value in $icon-sizes {
	.size-#{$icons} {
		@include square($value);
	}
	.l-h-#{$icons} {
		line-height: $value !important;
	}
}
// Sizing iconfont
.iconfont {
	@each $sizes, $value in $icon-sizes {
		&.i-#{$sizes} {
			font-size: $value !important;
		}
	}
}

// Hr
hr, .hr {
	border: none;
	border-bottom: $border-width $border-color solid;
	margin: $spacer / 3 0;
}
.hr-dashed {
	border-bottom-style: dashed;
}

// Border & radius
.border {
	border: $border-width solid $border-color;
}

@each $item, $value in $border-w {
	.border-w-#{$item} {
		border-width: $value !important;
	}
}

@each $border, $value in $borders {
	.border-#{$border} {
	border-#{$value}: $border-width solid $border-color;
	}
}
@each $rounded, $value in $radius {
	.rounded#{$rounded} {
	border-radius: $value !important
	}
}
//

