/** variables **/

// fonts
$html-font-size:  62.5%;
$base-font-size:  1.6rem;

// colors
$color-primary:   #AA1F24;
$color-secondary: #E09B01;
$color-dark:      #292929;
$color-gray:      #707070;
$color-light:     #F8F9FA;
$color-white:     #FFFFFF;
$color-success:   #00C08F;
$color-danger:    #F85858;
$color-warning:   #EBAE4A;
$color-info:      #3EC6FF;

$theme-colors: (
  "primary":    $color-primary,
  "secondary":  $color-secondary,
  "dark":       $color-dark,
  "gray":       $color-gray,
  "light":      $color-light,
  "white":      $color-white,
  "success":    $color-success,
  "danger":     $color-danger,
  "warning":    $color-warning,
  "info":       $color-info,
) !default;

$color-border:          #DDDDDD;
$color-body:            $color-dark;
$color-bg-body:         $color-light;
$color-links:           $color-dark;
$color-links-hover:     $color-primary;

// borders
$border-radius:         .5rem;
$border-width:          .1rem;
$border-color:          $color-border;

$borders: (
	"top": top,
  "end": right,
  "bottom": bottom,
  "start": left
) !default;

// Heights
$navbar-height:   6rem;
$btn-height:      3.6rem;
$form-height:     3.6rem;
// Radio & Checkbox
$check-size:      1.6rem;
// Switches
$switch-size:     1.8rem;


$border-w: (
  1 : $border-width,
  2 : $border-width * 2,
  4 : $border-width * 4,
  6 : $border-width * 6,
) !default;

$radius: (
  "" :   $border-radius,
  "-0" : 0,
  "-circle" : 50%,
) !default;

// Spacing
$spacer: 2.4rem !default;
$spacers: (
  0 : 0,
  1 : $spacer / 3,
  2 : $spacer / 2,
  3 : $spacer,
  4 : $spacer * 1.5,
  5 : $spacer * 2,
  a : auto
) !default;

// Spacing
$attributes: (
  "m"  : margin,
  "mt" : margin-top,
  "mr" : margin-right,
  "mb" : margin-bottom,
  "ml" : margin-left,
  "p"  : padding,
  "pt" : padding-top,
  "pr" : padding-right,
  "pb" : padding-bottom,
  "pl" : padding-left,
)!default;

//
$columns-grid: 12;

// Typography
$h1-font-size:  2.8rem !default;
$h2-font-size:  2.4rem !default;
$h3-font-size:  2.2rem !default;
$h4-font-size:  2.0rem !default;
$h5-font-size:  1.8rem !default;
$h6-font-size:  $base-font-size !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;

// Sizing
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
);
// icons / iconfont
$icon-sizes: (
  16:  1.6rem,
  24:  2.4rem,
  32:  3.2rem,
  48:  4.8rem,
  64:  6.4rem,
  72:  7.2rem,
  96:  9.6rem,
  128: 12.8rem
) !default;

// Index
$swiper-imax-height: 60rem;  // 首页巨幕