.badge {
    padding         : 0 .5rem;
    border-radius   : 2rem;
    line-height     : 1;
    white-space     : nowrap;
    background-color: #868e96;
}

@each $color,
$value in $badge-brand-color {
    .badge-#{$color} {
        background-color: $value;
        color           : white;
    }
}