@font-face {
    font-family: 'iconfont';
    /* project id 1679095 */
    src        : url('//at.alicdn.com/t/font_1679095_tmvf4kjux6i.eot');
    src        : url('//at.alicdn.com/t/font_1679095_tmvf4kjux6i.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1679095_tmvf4kjux6i.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1679095_tmvf4kjux6i.woff') format('woff'),
        url('//at.alicdn.com/t/font_1679095_tmvf4kjux6i.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1679095_tmvf4kjux6i.svg#iconfont') format('svg');
}

.iconfont {
    font-family            : "iconfont" !important;
    font-size              : 1.2rem;
    font-style             : normal;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.icon-lg {
        font-size: 1.5rem;
    }

    &.icon-xlg {
        font-size: 2rem;
    }

    &.icon-xxlg {
        font-size: 3rem;
    }
}